# put your python requirements here following the pip requirements format.
# http://www.pip-installer.org/en/latest/requirements.html#requirements-file-format
# you can remove pyyaml if you don't need it, it is just here for an example.
pyyaml